<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<link rel="stylesheet" th:href="@{/master.css}" />
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script>
	$(document).ready(function() {
		$('#datePicker').datepicker({
			 startView: 2,//Lets the datepicker start to select from year
			format : 'dd-mm-yyyy'
		}).on('changeDate', function(e) {
			// Revalidate the date field
			$('#datePicker').datepicker('hide');
			$('#eventForm').formValidation('revalidateField', 'date');
		});

		var date = new Date();
		date.setDate(date.getDate() - 1);

		$('#appointmentDatePicker').datepicker({
			startDate : date,//This disables previous dates
			format : 'dd-mm-yyyy'
		}).on('changeDate', function(e) {
			// Revalidate the date field
			$('#appointmentDatePicker').datepicker('hide');
			$('#eventForm').formValidation('revalidateField', 'date');
		});

		$('#eventForm').formValidation({
			framework : 'bootstrap',
			icon : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				name : {
					validators : {
						notEmpty : {
							message : 'The name is required'
						}
					}
				},
				date : {
					validators : {
						notEmpty : {
							message : 'The date is required'
						},
						date : {
							format : 'DD-MM-YYYY',
							message : 'The date is not a valid'
						}
					}
				}
			}
		});
	});
</script>
</head>
<body>
  
  		<div align="center" class="form-group">
			<label class="col-sm-4 control-label">Date of Birth *</label>
			<div align="center" class="col-sm-4 date">
				<div align="center" class="input-group input-append date" id="datePicker">
					<input type="text" class="form-control" name="date"
						required="required" /> <span class="input-group-addon add-on"><span
						class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
		<div align="center" class="form-group">
			<label class="col-sm-4 control-label">Required Appointment Date *</label>
			<div align="center" class="col-sm-4 date">
				<div align="center" class="input-group input-append date"
					id="appointmentDatePicker">
					<input type="text" class="form-control" name="date"
						required="required" /> <span class="input-group-addon add-on"><span
						class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
		
	<div align="center">
		<a href="/user/userIndex">Go back</a>
	</div>
</body>
</html>