<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Input Date</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->

        <a class="navbar-brand" href="/">Back to main index</a>      

<div class="container">
    <h2 class="mt-5">Your date of birth: <strong th:text="${#dates.format(XdatePicker.dob, 'yyyy-MM-dd')}" ></strong></h2>

    <a th:href="@{/}" class="btn btn-primary">Go back</a>
</div>

</body>
</html>