<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>User</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>jQuery UI Datepicker - Default functionality</title>
  		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  		<link rel="stylesheet" href="/resources/demos/style.css">
  		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  		
  		<link rel="stylesheet" th:href="@{/jquery-ui.multidatespicker.css}">
  		<script th:src="@{/jquery-ui.multidatespicker.js}"></script>
  		
  		<script>
  			$( function() {
    			$( "#datepicker" ).multiDatesPicker();
  			} );
 	  	</script>    
 	</head>
    <body>
    	<div align="center">
        	<h1>
        	<span>Welcome, </span><span th:text="${displayname}"></span><span>!</span>
    		</h1>
    	</div><br>
    
    	<div align="center">
    		<h1> </h1>
       		<span>Enter a date:</span>
       		<h1> </h1>
       		<form action="#" th:action="@{/date_submitted}" method="post" th:object="${XdatePicker}"> 		
    			<h1> </h1>
    			<table>
                	<tr>
                    	<td> <input type="text" id="datepicker" th:field ="*{dates}"></td>
                    	<td th:if="${#fields.hasErrors('dates')}" th:errors="*{dates}">Select a date</td>
                    </tr>
                </table>    	
        		
        		<h1> </h1>
        		<button type="submit">Submit</button>
        	</form>
        	<h1> </h1>
        	<a href="showRequestsInConsole">Show request (in console)</a>	 
        	<h1> </h1>
    		<form th:action="@{/logout}" method="post">
    	    	<input type="submit" value="Sign Out"/>
        	</form>
    </div><br>
    
   
    </body>
</html>