<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Update Succeeded!</h2>
    
</div>
<div>
	<h2></h2>
</div>
<div align="center">
   <a href="/admin/register_merged">Register another new user</a>
</div>
<div>
	<h2></h2>
</div> 
<div align="center">
   <a href="/admin/adminIndex">Go back to admin page</a>
</div> 
<div>
	<h2></h2>
</div>    
<div align="center">
 	<form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>   


</body>
</html>